{% block paragraph %}
	<div class="iconbox" {% if paragraph.field_title.value is not empty %} id="icon-{{ paragraph.field_title.value|replace({' ': '', '?': ''}) }}"{% endif %}>
		{% block content %}
			{% if content.field_icons[0] is not empty %}
				<div class="icon-img">{{ content.field_icons[0] }}</div>
			{% endif %}
			<div class="icon-description-link">
				{% if content.field_title[0] is not empty %}
					<div class="icon-title">{{ content.field_title[0] }}</div>
				{% endif %}
				{% if content.field_description[0] is not empty %}
					<div class="icon-description">{{ content.field_description[0] }}</div>
				{% endif %}
				{% if content.field_link[0] is not empty %}
					<div class="icon-link">
						{{ content.field_link[0] }}
					</div>
				{% endif %}
			</div>
		{% endblock %}
	</div>
{% endblock paragraph %}
